.player-container {
    width: 800px;
    height: 600px;
    background-color: black;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
}

.js-video-container {
    flex: 1;
}

.controls {
    background-color: black;
}

button {
    width: 30px;
    height: 30px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    margin: auto;
}

.time-display {
    color: white;
}

.js-progress {
    width: 100%;
    background-color: grey;
}

.js-progress-slider {
    background-color: red;
}